.edit-profile__submit-button {
  width: 358px;
  height: 50px;
  background-color: #000;
  font-family: inherit;
  font-size: 18px;
  line-height: 21.78px;
  font-weight: 400;
  color: #fff;
  border-radius: 2px;
  border: none;
  margin: 0 0 37px;
  padding: 0;
  cursor: pointer;
  transition: opacity .3s linear;
}

.edit-profile__submit-button:hover {
  opacity: .8;
}

@media all and (max-width: 580px) {
  .edit-profile__submit-button {
    width: 238px;
    height: 46px;
    font-size: 14px;
    line-height: 16.94px;
    margin-bottom: 25px;
  }
}
