.elements__button {
  width: 22px;
  height: 19px;
  background-color: #fff;
  background-image: url('../../../images/heart_disabled.svg');
  background-size: 22px 19px;
  background-position: center;
  border: none;
  align-self: center;
  padding: 0 11px;
  transition: opacity .3s linear;
  cursor: pointer;
}

.elements__button:hover {
  opacity: .5;
}
