.profile__name {
  font-size: 42px;
  line-height: 48px;
  font-weight: 500;
  color: #fff;
  margin: 0;
  grid-column: 1/2;
  grid-row: 1/2;
  /* word-break: break-all; */
}

@media screen and (max-width: 616px) {
  .profile__name {
    font-size: 27px;
    line-height: 32.68px;
    text-align: center;
  }
}
