.elements__caption {
  max-width: 282px;
  background-color: #fff;
  padding: 32px 20px;
  box-sizing: border-box;
  border-radius: 0 0 10px 10px;
  display: flex;
  justify-content: space-between;
}
