.popup__text {
  width: 358px;
  font-family: inherit;
  font-size: 24px;
  line-height: 29.05px;
  font-weight: 900;
  margin: 0 0 75px;
  padding-top: 25px;
}

@media all and (max-width: 580px) {
  .popup__text {
    width: 238px;
    font-size: 18px;
    line-height: 21.78px;
  }
}
